<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmybatis.mapper.CityMapper">
    <resultMap id="cityMap" type="City">
        <id property="id" column="id"/>
        <result property="cityname" column="cityname"/>
    </resultMap>
    <resultMap id="cityProvinceMap" extends="cityMap" type="City">
        <association property="province" column="{id=p_id}"
                     select="com.example.springbootmybatis.mapper.ProvinceMapper.getProvinceById">
        </association>
    </resultMap>
    <select id="getCityById" resultMap="cityProvinceMap">
        select id, cityname, p_id
          from city
         where id = #{id}
    </select>
    <select id="getCitiesByProvinceId" resultMap="cityMap">
        select id, cityname
          from city
         where p_id = #{p_id}
    </select>
</mapper>