<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmybatis.mapper.ProvinceMapper">
    <resultMap id="provinceMap" type="Province">
        <id property="id" column="id"/>
        <result property="provinceCode" column="province_code"/>
        <result property="provinceName" column="province_name"/>
    </resultMap>
    <resultMap id="provinceCityMap" extends="provinceMap" type="Province">
        <collection property="cities" column="p_id=id"
                    select="com.example.springbootmybatis.mapper.CityMapper.getCitiesByProvinceId">
        </collection>
    </resultMap>
    <select id="getProvinceById"  resultMap="provinceMap">
        select id, province_code, province_name
          from province
         where id = #{id}
    </select>
    <select id="getAllProvinces"  resultMap="provinceCityMap">
        select id, province_code, province_name
          from province
    </select>
    <select id="getAllProvincesByProvinceNameOrProvinceCodeList" resultType="HashMap">
        select id, province_code, province_name
          from province
         <where>
             <if test="provinceName != null and provinceName != ''">
                 <bind name="provinceNameLike" value="'%' + provinceName + '%'"></bind>
                 or province_name like #{provinceNameLike}
             </if>
             <if test="provinceCodes != null and provinceCodes.size() > 0">
                 or province_code in
                 <foreach collection="provinceCodes" open="(" close=")" separator=", " index="index" item="item">
                     #{item}
                 </foreach>
             </if>
         </where>
    </select>
</mapper>